.Pokedex {
	text-align: center;
}
.Pokedex title {
	border: 0;
}
.Pokedex-cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.Pokedex-winner {
	color: #4caf50;
	margin: 0;
	border: 0;
}

.Pokedex-loser {
	color: #e91e63;
	margin: 0;
	border: 0;
}
